# Build & IDE
/build/
/build-*/*
/.cache/
/.vscode/
/.idea/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Testing/
CTestTestfile.cmake

# Coverage
*.gcno
*.gcda
*.gcov
/coverage/

# Doxygen
/docs/

# OS cruft
.DS_Store
Thumbs.db
